<footer class="bg-dark text-center text-white">
  
  <fieldset class="field1" >
    <legend>El Mundial comienza en:</legend>
    <section id="cuentaregresiva" class="border" class="bg-secondary">
        <script src="./js/simplyCountdown.min.js"></script>
        <script src="./js/cuentaregresiva.js"></script>
    </section>
</fieldset>

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright: Bichi
      <a class="text-white" href="https://mdbootstrap.com/"></a>
    </div>
    <!-- Copyright -->
  </footer>
  
   <script src="./js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
</body>
</html>
  <!-- Footer -->
 